<!-- DASHBOARD VIEW -->
<div id="homestead-dashboard">
  <div style="float: right;">
    <button class="homestead-start btn btn-primary" type="submit"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
    <button class="homestead-stop btn btn-primary" type="submit"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span></button>
    <button class="homestead-provision btn btn-warning" type="submit" style="display: none;"><span class="glyphicon glyphicon-retweet" aria-hidden="true"></span></button>
  </div>
  <h1 class="page-header">Dashboard</h1>

  <br><br><br>

  <h6>Debugging info</h6>

  <table class="table table-striped" id="versionsTable">
    <tbody>
    </tbody>
  </table>
</div>
<!-- END DASHBOARD VIEW -->
